[Desktop Entry]
Type=Application
Name=Laerdal SimServer Imager (CLI)
Comment=Laerdal SimServer Imager command-line interface
Exec=laerdal-simserver-imager-cli
Icon=laerdal-simserver-imager
Categories=System;
Terminal=true
NoDisplay=true
