<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>Laerdal Medical</vendor>
  <vendor_url>https://www.laerdal.com/</vendor_url>

  <!-- Production action for installed binary -->
  <action id="com.laerdal.simserver-imager.run">
    <description>Run Laerdal SimServer Imager</description>
    <message>Authentication is required to write images to storage devices</message>
    <icon_name>laerdal-simserver-imager</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/laerdal-simserver-imager</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>

