[Desktop Entry]
Version=1.0
Type=Application
Name=Laerdal SimServer Imager (Embedded)
Comment=Laerdal SimServer Imager for embedded systems
Exec=laerdal-simserver-imager-embedded
Icon=laerdal-simserver-imager
Terminal=false
Categories=System;Utility;Embedded;
Keywords=laerdal;simserver;simpad;simman;imager;embedded;linuxfb;headless;
X-GNOME-SingleWindow=true
StartupNotify=false