[Desktop Entry]
Type=Application
Version=1.5
Name=Laerdal SimServer Imager
Comment=Tool for writing WIC images to SD cards for Laerdal SimPad/SimMan devices
Icon=laerdal-simserver-imager
Exec=pkexec /usr/bin/laerdal-simserver-imager %u
Categories=Utility;
StartupNotify=false
StartupWMClass=com.laerdal.simserver-imager
MimeType=x-scheme-handler/laerdal-simserver-imager;
