[Unit]
Description=Start Laerdal SimServer Embedded Imager on bootup

[Service]
Type=oneshot
ExecStart=/bin/laerdal-simserver-imager-embedded
StandardOutput=append:/embedded-imager.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
